.slider_outer{
	overflow-x: hidden;
}
.slider{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.slider_markers{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
